In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
data = [1,2,3,4]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4

In [4]:
data = [['Alex', 10], ['Bob', 12], ['Clark', 13]]
df = pd.DataFrame(data, columns=['name', 'Age'],dtype=float)
print(df)

    name   Age
0   Alex  10.0
1    Bob  12.0
2  Clark  13.0

In [6]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34, 29, 42]}
df = pd.DataFrame(data)
print(df)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [7]:
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [8]:
data = [
    {
        'a':1,
        'b':2
    },
    {
        'a':5,
        'b':10,
        'c':20
    }
]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [9]:
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [11]:
data = {
    'one': pd.Series([1,2,3], index=['a','b','c']),
    'two': pd.Series([1,2,3,4], index=['a','b','c','d'])
}

df = pd.DataFrame(data)

print("Adding a new column by passing new Series")

df['three'] = pd.Series([10,20,30], index=['a','b','c'])
print(df)

print("Adding a new column using the existing columns in DataFrame:")
df['four'] = df['one'] + df['three']
print(df)

Adding a new column by passing new Series
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [12]:
print(df)
print("Deleting the first column using DEL function:")
del df['one']
print(df)

print("Deleting another column sing POP function:")
df.pop('two')
print(df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
Deleting another column sing POP function:
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [13]:
print("Choosing specific row using .loc():")
print(df.loc['a'])

Choosing specific row:
three    10.0
four     11.0
Name: a, dtype: float64

In [14]:
print("Choosing specific row using .iloc()")
print(df.iloc[1])

Choosing specific row using .iloc()
three    20.0
four     22.0
Name: b, dtype: float64

In [15]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
    'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print(df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two
c  3.0    3
d  NaN    4

In [18]:
df1 = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]], columns=['a','b'])
df = df1.append(df2)
print(df)

print("Delete by index")
df = df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
Delete by index
   a  b
1  3  4
1  7  8