In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.random.rand(4))
print(s)

0    0.846648
1    0.446982
2    0.006310
3    0.132759
dtype: float64

In [3]:
print(s.axes)

[RangeIndex(start=0, stop=4, step=1)]

In [4]:
print(s.empty)

False

In [5]:
print(s.ndim)

1

In [6]:
print(s.size)

4

In [7]:
print(s.values)

[0.84664762 0.44698168 0.00631014 0.13275919]

In [8]:
print(s.head())

0    0.846648
1    0.446982
2    0.006310
3    0.132759
dtype: float64

In [9]:
print(s.head(2))

0    0.846648
1    0.446982
dtype: float64

In [10]:
d = {
    'Name':pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Minsu', 'Jack']),
    'Age':pd.Series([25, 26, 27, 24, 30,19,20]),
    'Rating': pd.Series([3.33, 4.23, 5.11, 2.76, 4.34, 5.87, 9.11])
}

df = pd.DataFrame(d)
print(df)

   Age   Name  Rating
0   25    Tom    3.33
1   26  James    4.23
2   27  Ricky    5.11
3   24    Vin    2.76
4   30  Steve    4.34
5   19  Minsu    5.87
6   20   Jack    9.11

In [11]:
print(df.T)

           0      1      2     3      4      5     6
Age       25     26     27    24     30     19    20
Name     Tom  James  Ricky   Vin  Steve  Minsu  Jack
Rating  3.33   4.23   5.11  2.76   4.34   5.87  9.11

In [12]:
print(df.axes)

[RangeIndex(start=0, stop=7, step=1), Index(['Age', 'Name', 'Rating'], dtype='object')]

In [13]:
print(df)

   Age   Name  Rating
0   25    Tom    3.33
1   26  James    4.23
2   27  Ricky    5.11
3   24    Vin    2.76
4   30  Steve    4.34
5   19  Minsu    5.87
6   20   Jack    9.11

In [15]:
print(df.dtypes)

Age         int64
Name       object
Rating    float64
dtype: object

In [16]:
print(df.empty)
print(df.ndim)

False
2

In [17]:
print(df.shape)

(7, 3)

In [18]:
print(df.size)

21

In [19]:
print(df.values)

[[25 'Tom' 3.33]
 [26 'James' 4.23]
 [27 'Ricky' 5.11]
 [24 'Vin' 2.76]
 [30 'Steve' 4.34]
 [19 'Minsu' 5.87]
 [20 'Jack' 9.11]]

In [20]:
print(df.head(2))
print(df.tail(2))

   Age   Name  Rating
0   25    Tom    3.33
1   26  James    4.23
   Age   Name  Rating
5   19  Minsu    5.87
6   20   Jack    9.11