In [1]:
import pandas as pd
import numpy as np

In [4]:
N = 20
df = pd.DataFrame({
    'A': pd.date_range(start='2018-07-04', periods=N, freq='D'),
    'x': np.linspace(0, stop=N-1, num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low', 'Medium', 'High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
})

In [5]:
for col in df:
    print(col)

A
x
y
C
D

In [6]:
print(df)

            A     x         y       C           D
0  2018-07-04   0.0  0.117095     Low  100.376596
1  2018-07-05   1.0  0.251416    High   93.842178
2  2018-07-06   2.0  0.196813  Medium   80.566742
3  2018-07-07   3.0  0.884574     Low   98.663476
4  2018-07-08   4.0  0.614288    High   94.749134
5  2018-07-09   5.0  0.413021    High   94.211722
6  2018-07-10   6.0  0.674622    High   80.764082
7  2018-07-11   7.0  0.809298     Low   96.050563
8  2018-07-12   8.0  0.084919  Medium   99.105192
9  2018-07-13   9.0  0.220718  Medium   97.906314
10 2018-07-14  10.0  0.372358     Low   99.808487
11 2018-07-15  11.0  0.356182  Medium   91.964452
12 2018-07-16  12.0  0.548931  Medium   99.357328
13 2018-07-17  13.0  0.672215     Low   93.698492
14 2018-07-18  14.0  0.457687  Medium  115.699831
15 2018-07-19  15.0  0.768827     Low   95.227902
16 2018-07-20  16.0  0.656477  Medium   84.496122
17 2018-07-21  17.0  0.721903  Medium   96.055202
18 2018-07-22  18.0  0.323429     Low  103.830347
19 2018-07-23  19.0  0.924375  Medium  103.269793

In [9]:
df = pd.DataFrame(np.random.randn(4,3), columns=['col1', 'col2', 'col3'])
print(df)
print('---------')
for key,val in df.iteritems():
    print(key, val)

       col1      col2      col3
0 -0.404316  1.064747  0.027123
1  1.022454 -1.255728 -0.559206
2  0.156986 -2.665144  0.978168
3  1.092443  1.032613 -0.360736
---------
col1 0   -0.404316
1    1.022454
2    0.156986
3    1.092443
Name: col1, dtype: float64
col2 0    1.064747
1   -1.255728
2   -2.665144
3    1.032613
Name: col2, dtype: float64
col3 0    0.027123
1   -0.559206
2    0.978168
3   -0.360736
Name: col3, dtype: float64

In [11]:
for row_index, row in df.iterrows():
    print(row)

col1   -0.404316
col2    1.064747
col3    0.027123
Name: 0, dtype: float64
col1    1.022454
col2   -1.255728
col3   -0.559206
Name: 1, dtype: float64
col1    0.156986
col2   -2.665144
col3    0.978168
Name: 2, dtype: float64
col1    1.092443
col2    1.032613
col3   -0.360736
Name: 3, dtype: float64

In [12]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=-0.40431581958052454, col2=1.0647473402833632, col3=0.027123181017202395)
Pandas(Index=1, col1=1.022454229475004, col2=-1.2557275885940358, col3=-0.5592057129957565)
Pandas(Index=2, col1=0.15698614942984052, col2=-2.6651439785453985, col3=0.9781681716301799)
Pandas(Index=3, col1=1.0924434731732862, col2=1.0326132706422917, col3=-0.36073562879047955)