In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Aler@t', np.nan, '1234','SteveMinsu'])
print(s)

0             Tom
1    William Rick
2            John
3          Aler@t
4             NaN
5            1234
6      SteveMinsu
dtype: object

In [3]:
print(s.str.lower())

0             tom
1    william rick
2            john
3          aler@t
4             NaN
5            1234
6      steveminsu
dtype: object

In [4]:
print(s)
print(s.str.upper())

0             Tom
1    William Rick
2            John
3          Aler@t
4             NaN
5            1234
6      SteveMinsu
dtype: object
0             TOM
1    WILLIAM RICK
2            JOHN
3          ALER@T
4             NaN
5            1234
6      STEVEMINSU
dtype: object

In [5]:
print(s.str.len())

0     3.0
1    12.0
2     4.0
3     6.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [6]:
s = pd.Series(['Tom  ', 'William Rick', 'John ', 'Aler@t', np.nan, '1234','SteveMinsu'])
print(s)
print(s.str.strip())

0           Tom
1    William Rick
2           John
3          Aler@t
4             NaN
5            1234
6      SteveMinsu
dtype: object
0             Tom
1    William Rick
2            John
3          Aler@t
4             NaN
5            1234
6      SteveMinsu
dtype: object

In [7]:
s = s.str.strip()

In [8]:
print(s.str.cat(sep=' <=> '))

Tom <=> William Rick <=> John <=> Aler@t <=> 1234 <=> SteveMinsu