In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
data = [1,2,3,4]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4

In [7]:
data = [['Alex', 10], ['Bob', 12], ['Clark', 13]]
df = pd.DataFrame(data, columns=['name', 'Age'],dtype=float)
print(df)

    name   Age
0   Alex  10.0
1    Bob  12.0
2  Clark  13.0

In [8]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34, 29, 42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [9]:
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [10]:
data = [
    {
        'a':1,
        'b':2
    },
    {
        'a':5,
        'b':10,
        'c':20
    }
]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [11]:
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0